<header class="app-header navbar" style="background-color: #4c7beb">
  <ul class="nav navbar-nav d-md-down-none" 
    style="padding: 16px;">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" href="#">
        <img src="img/menu.png"></span>
      </a>
    </li>
  </ul>

  <!-- <h2>Receipt-Less</h2> -->
  <img src="img/logo.png" alt="Receipt-Less" style="width: 18em; height: 3em;">

  <div class="dropdown">
    <i class="fa fa-user dropbtn" style="font-size: 3em; height: 50px;"></i>
    <div class="dropdown-content">
        <a ui-sref="app.profile">My Profile</a>
        <a ui-sref="login">Sign Out</a>
      </div>
  </div>
</header>