<header class="app-header navbar">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" href="#">
        <span class="navbar-toggler-icon"></span>
      </a>
    </li>
  </ul>

  <!-- <h2>Receipt-Less</h2> -->
  <img src="img/logo.png" alt="Receipt-Less">

  <div class="dropdown">
    <i class="fa fa-user dropbtn" style="font-size: 3em"></i>
    <div class="dropdown-content">
        <a ui-sref="app.profile">My Profile</a>
        <a ui-sref="login">Sign Out</a>
      </div>
  </div>
</header>