<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link sidebar-link" ui-sref-active="active" ui-sref="app.main({user: user})"><i src="img/ic_airplay_white_24dp_1x.png" class="icon-speedometer"></i> Dashboard</span></a>
        <a class="nav-link sidebar-link" ui-sref-active="active" ui-sref="app.add-receipts({user: user})"><i class="icon-speedometer"></i> Add Receipt</span></a>
        <a class="nav-link sidebar-link" ui-sref-active="active" ui-sref="app.expenses({user: user})"><i class="icon-speedometer"></i> Expenses</span></a>
      </li>
    </ul>
  </nav>
</div>