<!-- Navbar -->
<div ng-include="'views/nav/navbar.html'" include-replace></div>

<div class="app-body">
  <!-- Navigation -->
  <div ng-include="'views/nav/sidebar-nav.html'" include-replace></div>

  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb" breadcrumb>
      <ncy-breadcrumb></ncy-breadcrumb>
    </ol>

    <div class="container-fluid">
      <ui-view></ui-view>
    </div>
  </main>

  <!-- <div ng-include="'views/dashboard/categories.html'" include-replace></div> -->

</div>

<!-- Footer -->
<div ng-include="'views/footer.html'" include-replace></div>