<!-- First section of landing page -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto">
                <div class="header-content mx-rauto">
                    <h1 style="margin-bottom: 10px"><b>Saving the World. One receipt at a time.</b></h1>
                    <br>
                    <img src="img/logo.png" alt="Receipt-Less" style="width: 25em; height: 5em; margin-bottom: 10px">
                    <br> <br> <br>
                    <h5>
                        "Over 250 million gallons of oil, 10 million trees and 1 billion gallons of water are consumed each year
                        in the creation of receipts for the United States alone, generating 1.5 billion pounds of waste."
                    </h5>
                    <h5 style="float: right">
                        -Huffington Post
                    </h5>
                    <button ng-click="vm.test()">Test</button>
                </div>
            </div>

            <div class="col-lg-5 my-auto">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <form name="vm.userForm" ng-submit="vm.login(vm.userForm.$valid)" novalidate>
                                    <div class="form-group" ng-class="{ 'has-error': !vm.user.first_name.valid }">
                                        <label for="vm.user.first_name">First Name</label>
                                        <input type="text" class="form-control" name="vm.user.first_name" 
                                            ng-model="vm.user.first_name" required/>
                                        <!-- <div ng-if="!vm.userForm.submitted && !vm.user.first_name.$valid" class="help-block">
                                            First name is required.
                                        </div> -->
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error': !vm.user.last_name.valid }">
                                        <label for="vm.user.last_name">Last Name</label>
                                        <input type="text" class="form-control" name="vm.user.last_name" 
                                            ng-model="vm.user.last_name" required/>
                                        <!-- <div ng-if="vm.user.last_name.valid" class="help-block">
                                            Last name is required.
                                        </div> -->
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error': !vm.user.email.valid }">
                                        <label for="vm.user.email">Email</label>
                                        <input type="text" class="form-control" name="vm.user.email" 
                                            ng-model="vm.user.email" required/>
                                        <!-- <div ng-if="vm.user.email.valid" class="help-block">
                                            Email is required.
                                        </div> -->
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error': !vm.user.phone_number.valid }">
                                        <label for="vm.user.phone_number">Phone Number</label>
                                        <input type="text" class="form-control" name="vm.user.phone_number" 
                                            ng-model="vm.user.phone_number" required/>
                                        <!-- <div ng-if="vm.user.phone_number.valid" class="help-block">
                                            Phone number is required.
                                        </div> -->
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error': !vm.user.password.valid }">
                                        <label for="vm.user.password">Password</label>
                                        <input type="text" class="form-control" name="vm.user.password" 
                                            ng-model="vm.user.password" ng-attr-type="{{ showPassword ? 'text' : 'password' }}" required/>
                                        <!-- <div ng-if="vm.user.password.valid" class="help-block">
                                            Password is required.
                                        </div> -->
                                    </div>

                                    <center>
                                        <button class="btn btn-info" type="submit" style="width: 7em; margin-right: 10px;">
                                            Login
                                        </button>
                                        <button class="btn btn-info" type="submit" style="width: 7em;">
                                            Register
                                        </button>
                                    </center>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>