<!-- First section of landing page -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto">
                <div class="header-content mx-auto">
                    <h1><b>Receipt-Less</b></h1>
                    <h3>"Over 250 million gallons of oil, 10 million trees and 1 billion gallons of water are consumed each year
                        in the creation of receipts for the United States alone, generating 1.5 billion pounds of waste."
                        -Huffington Post</h3>
                </div>
            </div>

            <div class="col-lg-5 my-auto">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <section>
                                    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                                            <label for="username">Username</label>
                                            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                                            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                                        </div>
                                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                            <label for="password">Password</label>
                                            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                                            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                                        </div>
                                        <div class="form-group">
                                            <button ui-sref="app.main" class="btn btn-primary">Login</button>
                                            <button ui-sref="app.main" class="btn btn-primary">Register</button>
                                        </div>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>