<center>
    <h3>{{name}}'s Profile</h3>
    <br>
    <br>
    <br>

    <div>
        <div class="form-group">
            <label>Name
                <input type="text" class="form-control" placeholder="{{name}}" />
            </label>
        </div>
        <div class="form-group">
            <label>Email
                <input type="text" class="form-control" placeholder="{{email}}" />
            </label>
        </div>
        <div class="form-group">
            <label>Phone Number
                <input type="text" class="form-control" placeholder="{{phone_number}}" />
            </label>
        </div>
    </div>
    <button ui-sref="app.main" class="btn btn-primary">Back to Dashboard</button>
    <button class="btn btn-primary">Save Changes</button>
</center>