<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> Dashboard</span></a>
        <a class="nav-link" ui-sref-active="active" ui-sref="app.add-receipts"><i class="icon-speedometer"></i> Add Receipt</span></a>
        <a class="nav-link" ui-sref-active="active" ui-sref="app.expenses"><i class="icon-speedometer"></i> Expenses</span></a>
      </li>
    </ul>
  </nav>
</div>