<div class="animated fadeIn">
  <center>
      <h1>{{name}}'s Receipts</h1>
      <br>
  </center>  

  <div class="row">
    <center ng-repeat="i in getNumber(number) track by $index" class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body receipt-{{$index}}">
          <div class="h4 m-0">CVS - $5.00</div>
          <div>Touthbrush</div>
          <small class="text-muted">1/20/18 10:25 </small>
        </div>
      </div>
    </center>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>