<div class="animated fadeIn">
  <section>
  <div class="form-group">
      <select ng-model="selectedName" 
          ng-options="x for x in names" ng-change="sort(selectedName)">
      </select>
  </div>
  <center>
      <h1>{{name}}'s Receipts</h1>
      <br>
  </center>  
  <div class="form-group">

  </div>
</section>

  <div class="row">
    <center ng-repeat="receipt in receipts track by $index" class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body receipt-{{$index}}">
          <div class="h4 m-0">{{receipt.businessName}} - ${{receipt.amount.toFixed(2)}}</div>
          <div>{{receipt.itemName}}</div>
          <small class="text-muted">{{receipt.date}}</small>
        </div>
      </div>
    </center>
    <!--/.col-->
  </div>
  <!--/.row-->

  <button ng-click="test()">Test</button>
</div>